/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #F4F7FD;
  color: #000;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

img {
  max-width: 75%;
  height: fit-content;
}